CREATE DATABASE IF NOT EXISTS ${MARIADB_DATABASE};
USE ${MARIADB_DATABASE};
CREATE TABLE User (
  id BIGINT NOT NULL AUTO_INCREMENT,
  username VARCHAR(45) NOT NULL,
  password LONGTEXT NULL,
  salt LONGTEXT NULL,
  private_key LONGTEXT NULL,
  public_key LONGTEXT NULL,
  client_public_key LONGTEXT NULL,
  db_username TEXT NULL,
  db_password TEXT NULL,
  PRIMARY KEY (id),
  UNIQUE INDEX username_UNIQUE (username ASC) VISIBLE
);