name: CD

on:
  push:
    branches: [main]

jobs:
  trigger-cd:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Jenkins Wallet Tracker CD
        env:
          JENKINS_HOSTNAME: ${{ secrets.JENKINS_HOSTNAME }}
          JENKINS_WALLET_TRACKER_CD_SECRET: ${{ secrets.JENKINS_WALLET_TRACKER_CD_SECRET }}
          JENKINS_USERNAME: ${{ secrets.JENKINS_USERNAME }}
          JENKINS_API_TOKEN: ${{ secrets.JENKINS_API_TOKEN }}
          GIT_BRANCH: main
        run: |
          curl -u "$JENKINS_USERNAME:$JENKINS_API_TOKEN" \
          "https://$JENKINS_HOSTNAME/generic-webhook-trigger/invoke" \
          -H "Authorization: Bearer $JENKINS_WALLET_TRACKER_CD_SECRET" \
          --data-urlencode "GIT_BRANCH=$GIT_BRANCH"
